# Server Configuration

PORT=3000

# MySQL Database Configuration (for Laragon)

DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=sipandu_db

# MQTT Broker Configuration

# Use a local broker or a cloud service like HiveMQ Cloud

MQTT_BROKER_URL=mqtt://127.0.0.1
MQTT_USERNAME=
MQTT_PASSWORD=